root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 120
curly_bracket_next_line = false

[*.{js,ts}]
quote_type = single

[*.md]
indent_size = false
trim_trailing_whitespace = false
